.nav-item:hover {
    font-size: 18px;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    /* align-items: start; */
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    padding-top: 15%;
}

h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header p {
    font-size: 1.5rem;
    font-style: italic;
}

section {
    padding: 60px 0;
}

h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.sobre-mi {
    background-color: #cae6e0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sobreMi-p {
    text-align: center;
    color: rgb(0, 49, 61);
    font-size: 20px;
    margin: auto;
    width: 70%;
    padding: 10px;
}

i {
    color: rgb(57, 1, 71);
    text-decoration: none;
    font-size: 20px;
}

i:hover {
    color: #af0989;
    font-size: 30px;
}

.habilidad {
    height: 160px;
    width: auto;
}

.card:hover {
    border: 2px solid rgb(1, 130, 153);
}

#proyectos {
    background-color: #eeeeee;
}

#contactForm {
    max-width: 500px;
}

.bg-img {
    background-image: url(../img/Hacker3.jpg);
    height: 700px;
    width: auto;
}

.img-ability {
    height: 200px;
    width: 100%;
}

.img-proyecto {
    height: 200px;
}

.img-carrusel {
    height: 480px;
}

.contacto {
    padding-bottom: 30px;
    background-color: #9fb4b1;
}