body {
    font-family: 'Arial', sans-serif;
}

header {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    /* align-items: start; */
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    padding-top: 15%;
}

h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header p {
    font-size: 1.5rem;
    font-style: italic;
}

section {
    padding: 60px 0;
}

h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.sobre-mi {
    background-color: #cae6e0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sobreMi-p {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.habilidad {
    height: 160px;
    width: auto;
}

#proyectos {
    background-color: #eeeeee;
}

#contactForm {
    max-width: 500px;
}

.bg-img {
    background-image: url(../img/Hacker3.jpg);
    height: 700px;
    width: auto;
}

.img-ability {
    height: 200px;
    width: 100%;
}

.img-proyecto {
    height: 200px;
}

.img-carrusel {
    height: 480px;
}

.icon-FB {
    font-size: 40px;
    color: blue;
}

.icon-TK {
    font-size: 40px;
    color: black;
}

.icon-IN {
    font-size: 40px;
    color: pink;
}

.contacto {
    padding-bottom: 30px;
    background-color: #9fb4b1;
}